label.pk-input {
  color: var(--color-text);
  font-size: 0.875rem;
  font-weight: 500;
  display: block;

  .asterisk,
  .error {
    color: var(--color-error);
    font-weight: 300;
  }

  .error-placeholder {
    height: 1.1875rem;
  }

  &.disabled {
    color: var(--color-text-disabled);

    .asterisk {
      color: var(--color-text-disabled);
    }
  }
}

input.pk-input {
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  height: 2.25rem;
  padding: 0 1rem;
  margin-top: 0.25rem;
  display: block;

  &:focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }

  &:disabled {
    color: var(--color-text-disabled);
    cursor: not-allowed;
  }

  &.error {
    border-color: var(--color-error);
    color: var(--color-text);
  }
}
