.markdown-text {
  * {
    color: var(--color-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text);
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: var(--color-text-accent);
  }

  p {
    margin: 0 0 1rem 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  hr {
    border-color: var(--color-border);
    margin: 1.5rem 0.5rem;
  }

  blockquote {
    border-left: 4px solid var(--color-border);
    margin: 1rem;
    padding: 0.5rem 1rem;

    p,
    p > em,
    p > strong {
      color: var(--color-text);
      margin: 0;
    }
  }

  code {
    font-family: monospace;
    font-size: 120%;
    color: var(--color-accent-light);
  }

  iframe {
    max-width: 100%;
  }
}
